@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Pizza Mama</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" /> 
</head>
<body id="body_index">

    <div class="centered">
        <img src="~/images/main_logo.png" />
        <p class="to_menu"><a asp-page="Menu">Voir le menu</a></p>
    </div>

</body>
</html>
